body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

.main-icon {
  margin-top: 20px;
}

.input {
  margin-top: 30px;
}

.main-title{
  font-size: 3rem;
  margin-top: 30px;
}

.title{
  font-size: 2rem;
  margin-top: 30px;
  font-weight: 500;
  color: pink;
}

.list {
  margin-top: 30px;
}

.to-do{
  margin-top: 10px;
  margin-bottom: 10px;
}